@import '../../base/waltti';

/* main theme colors */
$primary-color: #fecc00;
$secondary-color: darken($primary-color, 20%);
$hilight-color: $primary-color;
$action-color: $primary-color;
$viewpoint-marker-color: $primary-color;
$current-location-color: $primary-color;
$standalone-btn-color: $primary-color;
$link-color: black;
$link-bgcolor: $primary-color;
$offcanvas-link-color: black;

$desktop-title-color: $primary-color;
$top-bar-color: $primary-color;

/* Vehicle palette */
$bus-color: red;
$metro-color: blue;
$rail-color: green;
$citybike-color: #009fe4;
$carpool-color: $primary-color;

.link {
  color: $link-color;
  text-decoration: underline;
}

.link:hover {
  background-color: $link-bgcolor;
}

.car {
  color: #005ab4;
}

.top-bar button .navi-logo {
  width: 350px;
  height: 62px;
}

.top-bar section .logo {
  width: 350px;
  height: 62px;
}

.top-bar .icon {
  color: $white !important;
}

@media screen and (max-width: 400px) {
  .top-bar section .logo {
    height: 43px;
    width: 200px;
  }
}

.charging-station {
  color: #00b096;
}

#lang-select  {
  .lang {
    color: $link-color !important;
    &.selected {
      color: $white !important;
    }
  }

  .lang:hover {
    background-color: $link-bgcolor !important;
  }
}

.main-menu span {
    color: $link-color !important;
    text-decoration: none;
    &:hover {
      background-color: $link-bgcolor !important;
    }
}

.main-menu a {
    color: $link-color !important;
    &:hover {
      background-color: $link-bgcolor !important;
    }
}
